<div id="me">
    <p>
        <img src="http://en.gravatar.com/avatar/5fcc0f8df1923f433513b0f731c99402?s=100" alt="Erv Walter" />
        I'm <b>Erv Walter</b>, a software developer, a computer geek, and a board game addict living in Sun Prairie, Wisconsin.  My interests include Azure, ASP.NET, Node.js, AngularJS, Knockout, and web development in general. And I'm a sucker for any kind of gadget.
    </p>
    <p>
        <a href="http://twitter.com/ervwalter">@ErvWalter</a> &#8226;
        <a href="https://github.com/ervwalter">GitHub</a> &#8226;
        <a href="mailto:erv@ewal.net">Email Me</a>
    </p>
</div>
