<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="Replace" errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1"/>
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File"/>
        </httpErrors>
<!--
        <urlCompression doStaticCompression="true"/>
        <httpCompression>
            <scheme name="gzip" staticCompressionLevel="9"/>
        </httpCompression>
-->
        <defaultDocument>
            <files>
                <add value="index.xml" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear/>
                <rule name="Force HTTPS" enabled="false">
                  <match url="(.*)" ignoreCase="false" />
                  <conditions>
                    <add input="{HTTPS}" pattern="off" />
                    <add input="{HTTP_HOST}" pattern="\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b" negate="true" />
                    <add input="{HTTP_HOST}" pattern="\.azurewebsites\.net$" negate="true" />
                    <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
                  </conditions>
                  <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="TrendWeight Blog Redirect" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="blog\.trendweight\.com"/>
                    </conditions>
                    <action type="Redirect" url="http://www.ewal.net/trendweight/" redirectType="Permanent"/>
                </rule>
                <rule name="Canonical Hostname">
                    <match url="(.*)"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^www\.ewal\.net$" negate="true"/>
                        <add input="{HTTP_HOST}" pattern="\.azurewebsites\.net$" negate="true"/>
                        <add input="{HTTP_HOST}" pattern="localhost" negate="true"/>
                        <add input="{HTTP_HOST}" pattern="127\.0\.0\.1" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="http://www.ewal.net/{R:1}" redirectType="Permanent"/>
                </rule>
                <rule name="Category Links">
                    <match url="^categories/(.*)"/>
                    <action type="Redirect" url="http://www.ewal.net/tags/{R:1}" redirectType="Permanent"/>
                </rule>
                <rule name="HMDJ Redirects" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{REQUEST_URI}" pattern="^/shazam.php"/>
                        <add input="{REQUEST_URI}" pattern="^/hmdj-docs"/>
                        <add input="{REQUEST_URI}" pattern="^/_shazam.aspx"/>
                        <add input="{REQUEST_URI}" pattern="^/hmdj/"/>
                    </conditions>
                    <action type="Redirect" url="https://sourceforge.net/projects/hmdj/" appendQueryString="false"
                            redirectType="Permanent"/>
                </rule>
                <rule name="URL Rewriting Module Post Redirects" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{REQUEST_URI}"
                             pattern="^/PermaLink,guid,f314a8bc-4a97-4a77-b2de-c2771b77f222.aspx"/>
                        <add input="{REQUEST_URI}" pattern="^/AURLRedirectingURLRewritingHttpModule.aspx"/>
                    </conditions>
                    <action type="Redirect" url="http://www.iis.net/download/urlrewrite" appendQueryString="false"
                            redirectType="Permanent"/>
                </rule>
                <rule name="StaticRewrites" stopProcessing="true">
                    <match url=".*"/>
                    <conditions>
                        <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)"/>
                    </conditions>
                    <action type="Redirect" url="{C:1}" redirectType="Permanent"/>
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="StaticRewrites" defaultValue="">
                    <add key="/atom.xml"
                         value="/feed.xml"/>
                    <add key="/2013/08/15/bitcoin-mining-update/"
                         value="/2013/08/15/bitcoin-mining-update-butterfly-labs-sc-singles/" />
                    <add key="/2014/02/10/electrical-prep-for-cointerra/"
                         value="/2014/02/10/bitcoin-mining-with-240v/" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
        <staticContent>
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
